<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Precificador.App.Properties.Settings.PrecificadorConnectionString"
            connectionString="Data Source=N008846;Initial Catalog=Precificador;Persist Security Info=True;User ID=sysdba;Password=Prisc@1304;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
</configuration>